# printer variable store
.variables.stb 
# configuration backup files
*.bkp
# hide machine-specific configuration files like pins.cfg, probe_offset.cfg, etc.
config/machine_specific/*.cfg
# hide moonraker auth
moonraker_auth.conf
