[idle_timeout]
timeout: 600 # 10 minutes
gcode:
    _PRINT_AR T="Idle timeout of 10 minutes reached. The printer will now shutdown."
    _MOVE_Y_MAX
    # turn off the heaters
    TURN_OFF_HEATERS
    # turn off the stepper motors
    M84